<div class="card bg-success">
    <div class="card-body">
        <div class="d-flex">
            <div class="me-4 align-self-center">
                <h1 class="text-white">
                    <i class="ti-pie-chart"></i>
                </h1>
            </div>
            <div>
                <h3 class="card-title text-white">Bandwidth usage</h3>
                <h6 class="card-subtitle text-white">March 2024</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center">
                <h2 class="fw-light text-white">50 GB</h2>
            </div>
            <div class="col-6 ms-auto d-flex justify-content-end flex-column">
                <div class="ms-auto d-flex flex-column">
                    <apx-chart [series]="bandwidthChartOptions.series" [chart]="bandwidthChartOptions.chart"
                        [dataLabels]="bandwidthChartOptions.dataLabels" [legend]="bandwidthChartOptions.legends"
                        [colors]="bandwidthChartOptions.colors" [stroke]="bandwidthChartOptions.stroke"
                        [labels]="bandwidthChartOptions.labels" [tooltip]="bandwidthChartOptions.tooltip"
                        [plotOptions]="bandwidthChartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>