<div class="card">
    <div class="card-body">
        <h4 class="card-title">Task List</h4>
        <ng-scrollbar class="todo-widget scrollable"  style="height: 507px;">
            <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</span>
                            <span class="badge badge-pill bg-danger-subtle text-danger float-end ms-1">Today</span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto m-0">
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user1.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Steave">
                        </li>
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user2.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Jessica">
                        </li>
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user3.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Priyanka">
                        </li>
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user4.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Selina">
                        </li>
                    </ul>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck1">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill bg-success-subtle text-success float-end ms-1">1 week </span>
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2024</div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck2">
                            <span class="todo-desc">Give Purchase report to</span>
                            <span class="badge badge-pill bg-info-subtle text-info float-end ms-1">Yesterday</span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto">
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user3.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Priyanka">
                        </li>
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user4.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Selina">
                        </li>
                    </ul>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck3">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck3">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing </span>
                            <span class="badge badge-pill bg-warning-subtle text-warning float-end ms-1">2 weeks</span>
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2024</div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck4">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck4">
                            <span class="todo-desc">Give Purchase report to</span>
                            <span class="badge badge-pill bg-info-subtle text-info float-end ms-1">Yesterday</span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto">
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user3.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Priyanka">
                        </li>
                        <li class="assignee p-0 d-inline-block border-0 me-1">
                            <img class="assignee-img rounded-circle" src="assets/images/users/user4.jpg" alt="user" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Selina">
                        </li>
                    </ul>
                </li>
				<li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label todo-label d-flex align-items-center" for="customCheck1">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill bg-success-subtle text-success float-end ms-1">1 week </span>
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2024</div>
                </li>
            </ul>
        </ng-scrollbar>
    </div>
</div>