<div class="card">
    <div class="card-body">
        <h4 class="card-title">Feeds</h4>
        <ng-scrollbar class="feed-widget scrollable"  style="height: 462px;">
            <ul class="list-style-none feed-body m-0 pb-4">
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-info bg-info-subtle">
                        <i class="far fa-bell"></i>
                    </div> You have 4 pending tasks.
                    <span class="ms-auto fs-2 text-muted">Just Now</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-success bg-success-subtle">
                        <i class="ti-server"></i>
                    </div> Server #1 overloaded.
                    <span class="ms-auto fs-2 text-muted">2 Hours ago</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-warning bg-warning-subtle">
                        <i class="ti-shopping-cart"></i>
                    </div> New order received.
                    <span class="ms-auto fs-2 text-muted">31 May</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-danger bg-danger-subtle">
                        <i class="ti-user"></i>
                    </div> New user registered.
                    <span class="ms-auto fs-2 text-muted">30 May</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-warning bg-warning-subtle">
                        <i class="far fa-bell"></i>
                    </div> New Version just arrived.
                    <span class="ms-auto fs-2 text-muted">27 May</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-info bg-info-subtle">
                        <i class="far fa-bell"></i>
                    </div> You have 4 pending tasks.
                    <span class="ms-auto fs-2 text-muted">Just Now</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-danger bg-danger-subtle">
                        <i class="ti-user"></i>
                    </div> New user registered.
                    <span class="ms-auto fs-2 text-muted">30 May</span>
                </li>
				<li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-info bg-info-subtle">
                        <i class="far fa-bell"></i>
                    </div> You have 4 pending tasks.
                    <span class="ms-auto fs-2 text-muted">Just Now</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-success bg-success-subtle">
                        <i class="ti-server"></i>
                    </div> Server #1 overloaded.
                    <span class="ms-auto fs-2 text-muted">2 Hours ago</span>
                </li>
                <li class="feed-item">
                    <div class="feed-icon me-2 d-inline-block text-center align-middle rounded-circle text-warning bg-warning-subtle">
                        <i class="ti-shopping-cart"></i>
                    </div> New order received.
                    <span class="ms-auto fs-2 text-muted">31 May</span>
                </li>
            </ul>
        </ng-scrollbar>
    </div>
</div>