<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="text-center">
                <span class="db"><img alt="thumbnail" class="rounded-circle" width="100" src="assets/images/users/user1.jpg"></span>
                <h5 class="font-medium mb-4 mt-1">Marken Deo</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal mt-3" >
                        <div class="mb-3 row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="Password">
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-xs-12">
                                <button class="btn d-block w-100 btn-lg btn-info" type="submit">LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>