<!-- Message -->
@for(mymessage of mymessages; track mymessage) {
<a href="javascript:void(0)" class="message-item border-bottom d-block text-decoration-none">
    <span class="user-img position-relative d-inline-block">
        <img src="{{mymessage.useravatar}}" alt="user" class="rounded-circle" width="60">
        <span class="profile-status rounded-circle d-inline-block {{mymessage.status}} float-end"></span>
    </span>
    <span class="mail-contnet d-inline-block w-75 ps-3 align-middle">
        <h5 class="message-title">{{mymessage.from}}</h5>
        <span class="mail-desc fs-2 d-block text-muted text-truncate">{{mymessage.subject}}</span>
        <span class="time fs-2 d-block text-muted text-truncate">{{mymessage.time}}</span>
    </span>
</a>
}