<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card bg-success">
            <div class="card-body">
                <i class="fab fa-facebook fa-2x text-white"></i>
                <p class="text-white">25th Jan</p>
                <h3 class="text-white fw-light">Now Get
                    <span class="font-medium">50% Off</span>
                    <br> on buy</h3>
                <div class="text-white mt-3">
                    <i>- post form wrap</i>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card bg-danger">
            <div class="card-body">
                <i class="fab fa-google-plus fa-2x text-white"></i>
                <p class="text-white">25th Jan</p>
                <h3 class="text-white fw-light">Now Get
                    <span class="font-medium">50% Off</span>
                    <br> on buy</h3>
                <div class="text-white mt-3">
                    <i>- Eric fandanc</i>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card bg-info">
            <div class="card-body">
                <i class="fab fa-twitter fa-2x text-white"></i>
                <p class="text-white">25th Jan</p>
                <h3 class="text-white fw-light">Now Get
                    <span class="font-medium">50% Off</span>
                    <br> on buy</h3>
                <div class="text-white mt-3">
                    <i>- &#64;shoperstaff</i>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->