<div class="card">
    <div class="card-body">
        <h4 class="card-title">Today's Schedule</h4>
        <h6 class="card-subtitle">check out your daily schedule</h6>

        <div class="steamline position-relative border-start ms-4 mt-4">
            <div class="sl-item my-3 py-1 border-bottom">
                <div class="sl-left
                      float-start
                      text-center
                      rounded-circle
                      text-white
                      me-3 bg-success">
                    <i class="ti-user"></i>
                </div>
                <div class="sl-right ps-4">
                    <div class="fw-normal">Meeting today
                        <span class="sl-date fs-1 text-muted"> 5pm</span>
                    </div>
                    <div class="desc text-muted">you can write anything </div>
                </div>
            </div>
            <div class="sl-item my-3 py-1 border-bottom">
                <div class="sl-left
                      float-start
                      text-center
                      rounded-circle
                      text-white
                      me-3 bg-info">
                    <i class="fa fa-image"></i>
                </div>
                <div class="sl-right ps-4">
                    <div class="fw-normal">Send documents to Clark</div>
                    <div class="desc text-muted">Lorem Ipsum is simply </div>
                </div>
            </div>
            <div class="sl-item my-3 py-1 border-bottom">
                <div class="sl-left
                      float-start
                      text-center
                      rounded-circle
                      text-white
                      me-3">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user1.jpg"> </div>
                <div class="sl-right ps-4">
                    <div>
                        <a href="#" class="link">John Doe</a>
                        <span class="sl-date fs-1 text-muted ms-1">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted">Call today with gohn doe </div>
                </div>
            </div>
            <div class="sl-item my-3 py-1 border-bottom">
                <div class="sl-left
                      float-start
                      text-center
                      rounded-circle
                      text-white
                      me-3">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user2.jpg"> </div>
                <div class="sl-right ps-4">
                    <div class="fw-normal">Go to the Doctor
                        <span class="sl-date fs-1 text-muted">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted">Contrary to popular belief</div>
                </div>
            </div>
            <div class="sl-item mt-3 py-1 border-bottom">
                <div class="sl-left
                      float-start
                      text-center
                      rounded-circle
                      text-white
                      me-3">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user3.jpg"> </div>
                <div class="sl-right ps-4">
                    <div>
                        <a href="#" class="link">Tiger Sroff</a>
                        <span class="sl-date fs-1 text-muted ms-1">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted mb-3">Approve meeting with tiger
                        <br>
                        <a href="javascript:void(0)" class="btn btn-sm mt-2 me-1 btn-rounded btn-outline-success">Apporve</a>
                        <a href="javascript:void(0)" class="btn btn-sm mt-2 btn-rounded btn-outline-danger">Refuse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>