<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <!-- You can find this in the dashboard-component -->
    <app-project-counter></app-project-counter>
  </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
  <!-- chart component -->
  <div class="col-lg-8">
    <app-monthly-earning></app-monthly-earning>
  </div>
  <!-- other chart component -->
  <div class="col-lg-4">
    <app-sales-analytics></app-sales-analytics>
    <app-bandwidth-usage></app-bandwidth-usage>
  </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
  <div class="col-lg-8">
    <!-- You can find this in the dashboard-component -->
    <app-project></app-project>
  </div>
  <div class="col-lg-4">
    <!-- You can find this in the dashboard-component -->
    <app-profile-box></app-profile-box>
  </div>
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- Carousel widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<app-widget></app-widget>
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-6 col-xlg-6">
    <app-recent-comment></app-recent-comment>
  </div>
  <div class="col-lg-6 col-xlg-6">
    <app-to-do></app-to-do>
  </div>
</div>
