<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-group">
                    <div class="card mt-4 border-top border-start">
                        <div class="p-3 text-center">
                            <h4 class="card-title mt-2">Silver</h4>
                            <h2 class="display-5 position-relative mt-3 mb-2">
                                <span class="price-sign">$</span>24
                            </h2>
                            <p>Per Month</p>
                        </div>
                        <div class="border-top">
                            <ul class="list-style-none text-center">
                                <li class="border-bottom p-3">
                                    <i class="ti-user me-2"></i>3 Members
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-mobile me-2"></i>Single Device
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-server me-2"></i>50GB Storage
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-reload me-2"></i>Monthly Backups
                                </li>
                                <li class="border-bottom p-3">
                                    <button class="btn btn-success ">Sign up</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-top mt-4">
                        <div class="p-3 text-center">
                            <h4 class="card-title mt-2 text-center">Gold</h4>
                            <h2 class="display-5 position-relative mt-3 mb-2">
                                <span class="price-sign">$</span>34
                            </h2>
                            <p>Per Month</p>
                        </div>
                        <div class="border-top">
                            <ul class="list-style-none text-center">
                                <li class="border-bottom p-3">
                                    <i class="ti-user me-2"></i>5 Members
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-mobile me-2"></i>Single Device
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-server me-2"></i>80GB Storage
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-reload me-2"></i>Monthly Backups
                                </li>
                                <li class="border-bottom p-3">
                                    <button class="btn btn-success ">Sign up</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-light border-top border-start">
                        <h5 class="price-label text-white text-center bg-info">Popular</h5>
                        <div class="p-3 text-center">
                            <h4 class="card-title mt-4 pt-3 text-center">Platinum</h4>
                            <h2 class="display-5 position-relative mt-3 mb-2">
                                <span class="price-sign">$</span>45
                            </h2>
                            <p>Per Month</p>
                        </div>
                        <div class="border-top">
                            <ul class="list-style-none text-center">
                                <li class="border-bottom p-3">
                                    <i class="ti-user me-2"></i>10 Members
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-mobile me-2"></i>Single Device
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-server me-2"></i>120GB Storage
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-reload me-2"></i>Monthly Backups
                                </li>
                                <li class="border-bottom p-3">
                                    <button class="btn btn-lg btn-info ">Sign up</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-top mt-4">
                        <div class="p-3 text-center">
                            <h4 class="card-title mt-2 text-center">Diamond</h4>
                            <h2 class="display-5 position-relative mt-3 mb-2">
                                <span class="price-sign">$</span>54
                            </h2>
                            <p>Per Month</p>
                        </div>
                        <div class="border-top">
                            <ul class="list-style-none text-center">
                                <li class="border-bottom p-3">
                                    <i class="ti-user me-2"></i>15 Members
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-mobile me-2"></i>Single Device
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-server me-2"></i>1TB Storage
                                </li>
                                <li class="border-bottom p-3">
                                    <i class="ti-reload me-2"></i>Monthly Backups
                                </li>
                                <li class="border-bottom p-3">
                                    <button class="btn btn-success ">Sign up</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>