<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h4 class="page-title">{{pageInfo?.['title']}}</h4>
      <div class="d-flex align-items-center">
        <nav style="--bs-breadcrumb-divider: '>'" class="d-flex align-items-center" aria-label="breadcrumb"> 
            <li *ngIf="hasUrls" class="breadcrumb-item active">
              <a routerLink="/home">
                <i class="mdi mdi-home-outline me-2"></i>
              </a>
            </li> 
          @for (url of pageInfo?.['urls']; track ($index);let index = $index,last
          = $last ) {
          @if(!last) {
          <li class="breadcrumb-item" [routerLink]="url.url">
            <a [routerLink]="url.url">{{ url.title }}</a>
          </li>
          }
          @else {
          <li class="breadcrumb-item active">{{ url.title }}</li>
          }
          }
        </nav> 
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->