<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3>
                <b>INVOICE</b>
                <span class="float-end">#5669626</span>
            </h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="float-start">
                        <address>
                            <h3> <b class="text-danger">Monster Admin</b>
                            </h3>
                            <p class="text-muted ms-1">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                        </address>
                    </div>
                    <div class="float-end text-end">
                        <address>
                            <h3>To,</h3>
                            <h4 class="fw-bold">Gaala & Sons,</h4>
                            <p class="text-muted m-l-30">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                            <p class="mt-4">
                                <b>Invoice Date :</b>
                                <i class="fa fa-calendar"></i> 23rd Jan 2024</p>
                            <p>
                                <b>Due Date :</b>
                                <i class="fa fa-calendar"></i> 25th Jan 2024</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive mt-4 pt-3" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Description</th>
                                    <th class="text-end">Quantity</th>
                                    <th class="text-end">Unit Cost</th>
                                    <th class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Milk Powder</td>
                                    <td class="text-end">2 </td>
                                    <td class="text-end"> $24 </td>
                                    <td class="text-end"> $48 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Air Conditioner</td>
                                    <td class="text-end"> 3 </td>
                                    <td class="text-end"> $500 </td>
                                    <td class="text-end"> $1500 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>RC Cars</td>
                                    <td class="text-end"> 20 </td>
                                    <td class="text-end"> %600 </td>
                                    <td class="text-end"> $12000 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Down Coat</td>
                                    <td class="text-end"> 60 </td>
                                    <td class="text-end">$5 </td>
                                    <td class="text-end"> $300 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="float-end mt-4 text-end">
                        <p>Sub - Total amount: $13,848</p>
                        <p>vat (10%) : $138 </p>
                        <hr>
                        <h3>
                            <b>Total :</b> $13,986</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-end">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>