<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket</h4>
        Hi There, i was wondering, do you provide a service to build custom
        pages. I need some pages for a ticket system similar to the one you
        have. Please advise if you provide this service and i will send through
        my requirements. Regards.
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket Replies</h4>
        <ul class="list-unstyled mt-4 pt-3">
          <li class="d-flex align-items-start">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user2.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">User Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <hr />
          <li class="d-flex align-items-start my-4">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user1.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">Agent Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <hr />
          <li class="d-flex align-items-start">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user2.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">User Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <hr />
          <li class="d-flex align-items-start">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user2.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">User Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <hr />
          <li class="d-flex align-items-start my-4">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user1.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">Agent Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <hr />
          <li class="d-flex align-items-start">
            <img class="me-3 flex-shrink-0" src="assets/images/users/user2.jpg" width="60"
              alt="Generic placeholder image" />
            <div>
              <h5 class="mt-0 mb-1">User Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">Write a reply</h4>
        <form method="post">
          <!-- <quill-editor [style]="{ height: '200px' }"></quill-editor> -->
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"
              [style]="{ height: '200px' }"></ngx-editor>
          </div>
          <div class="button-group">
            <button type="button" class="mt-3 btn btn-success">
              Reply
            </button>
            <button type="button" class="mt-3 btn btn-info">
              Reply & close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket Info</h4>
      </div>
      <div class="card-body bg-light">
        <div class="row text-center">
          <div class="col-6 mt-2 mb-2">
            <span class="badge bg-warning">In Progress</span>
          </div>
          <div class="col-6 mt-2 mb-2">May 2, 2024 9:49</div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h5>Ticket Creator</h5>
            <span>User Name</span>
          </div>
          <div class="col-6">
            <h5>Support Staff</h5>
            <span>Agent Name</span>
          </div>
        </div>
        <br />
        <button type="button" class="mt-3 btn btn-success">
          Update
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">User Info</h4>
        <div class="profile-pic mb-4 mt-3">
          <img src="assets/images/users/user5.jpg" width="150" class="rounded-circle" alt="user" />
          <h4 class="mt-3 mb-0">Daniel Kristeen</h4>
          <a href="mailto:danielkristeen&#64;gmail.com">danielkristeen&#64;gmail.com</a>
        </div>
        <div class="row text-center mt-4 pt-3">
          <div class="col-4">
            <h3 class="fw-bold">4</h3>
            <h6>Total</h6>
          </div>
          <div class="col-4">
            <h3 class="fw-bold">2</h3>
            <h6>Open</h6>
          </div>
          <div class="col-4">
            <h3 class="fw-bold">3</h3>
            <h6>Closed</h6>
          </div>
        </div>
      </div>
      <div class="p-4 border-top mt-3">
        <div class="row text-center">
          <div class="col-6 border-end">
            <a href="#" class="
                link
                d-flex
                align-items-center
                justify-content-center
                font-medium
              ">
              <i class="mdi mdi-message fs-6 me-2"></i>Message</a>
          </div>
          <div class="col-6">
            <a href="#" class="
                link
                d-flex
                align-items-center
                justify-content-center
                font-medium
              ">
              <i class="mdi mdi-developer-board fs-6 me-2"></i>Portfolio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket Statestics</h4>
        <div id="visitor" style="height: 290px; width: 100%" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>