<div class="card">
    <div class="card-body">
        <h4 class="card-title">Members Activity</h4>
        <h6 class="card-subtitle">what members preformance / weekly status</h6>
        <div class="table-responsive mt-4">
            <table class="table table-hover align-middle text-nowrap mb-0">
                <thead>
                    <tr>
                        <th style="width: 60px;"> Member </th>
                        <th> Name </th>
                        <th> Earnings </th>
                        <th> Reviews </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/user1.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:void(0);">Govinda</a>
                        </td>
                        <td> $325 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/user2.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:void(0);">Genelia</a>
                        </td>
                        <td> $225 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/user3.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:void(0);">Hrithik</a>
                        </td>
                        <td> $185 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/user4.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:void(0);">Salman</a>
                        </td>
                        <td> $125 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="rounded-circle" src="assets/images/users/user2.jpg" alt="user" width="50">
                        </td>
                        <td>
                            <a href="javascript:void(0);">Genelia</a>
                        </td>
                        <td> $225 </td>
                        <td>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
