<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bar chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a bar chart</h6>
                <div class="barchrt">
                    <x-chartist class="" [configuration]="barChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
        

        <!-- 2 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Line Area chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Line chart</h6>
                <div class="linearea">
                    <x-chartist class=""  [configuration]="lineChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div> 

        <!-- 3 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Line chart 2 Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Line chart</h6>
                <div class="linearea">
                    <x-chartist class="" [configuration]="line2Chartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Scatter chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Scatter chart</h6>
                <div class="linearea">
                    <x-chartist class="" [configuration]="scatterChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pie chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Pie chart</h6>
                <div class="piechart">
                    <x-chartist class="" [configuration]="pieChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Donute chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Pie chart</h6>
                <div class="piechart">
                    <x-chartist class="" [configuration]="donutChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bipollar chart Example</h4>
                <h6 class="card-subtitle">This is the simple data export from the json file and creating a Bipollar chart</h6>
                <div class="barchrt">
                    <x-chartist class="" [configuration]="biopollarChartconfiguration"> </x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>