<!-- Row -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <app-income-counter></app-income-counter>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <app-rvenue-stat-graph></app-rvenue-stat-graph>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row align-content-stretch">
    <div class="col-lg-4 col-md-6">
        <app-sales-of-month></app-sales-of-month>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="row">
            <div class="col-12">
                <app-sales-prediction></app-sales-prediction>
            </div>
            <div class="col-12">   
                <app-sales-difference></app-sales-difference>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <!-- You can find this in the dashboard-component -->
        <app-profile-box></app-profile-box>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <app-proect-of-month></app-proect-of-month>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body mailbox">
                <h4 class="card-title">Recent Messages</h4>
                <ng-scrollbar class="message-center message-body"  style="height: 538px;">
                    <app-recent-message></app-recent-message>
                </ng-scrollbar>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<app-widget></app-widget>
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <app-recent-comment></app-recent-comment>
    </div>
    <div class="col-lg-6">
        <app-to-do></app-to-do>
    </div>
</div>
<!-- Row -->