.countdown-timer {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 20px; /* Ajusta la posición superior */
    left: 20px; /* Ajusta la posición derecha */
    background-color: #333; /* Fondo oscuro para contraste */
    color: #fff; /* Texto blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Bordes redondeados */
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Fuente en negrita */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    text-align: center; /* Centrar el texto */
  }
  

  .countdown-timer .timer-numbers {
    display: block; /* Asegura que el contenido se muestre en bloque */
  }
  
  .reloj.alerta .timer-numbers {
    color: red;
    animation: parpadeo 1s infinite;
  }
  
  @keyframes parpadeo {
    0% { transform: scale(1); }
    //40% { opacity: 0; }
    60% { transform: scale(1.2); }
    //80% { opacity: 0; }
    100% { transform: scale(1); }
  }