<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="height: 100vh;" >
  <div style="background:url(assets/images/background/fondo-login.jpeg) no-repeat center center;background-size: cover;height: 100%;width: 100%;" >
  </div>
  <div class="d-flex auth-box m-3 m-md-0" style="height: 55%;position: absolute;">
    <div id="loginform" class="align-self-center" >
      <div class="d-flex flex-column text-center">
        <div class="">
            <img sizes="30px" src="assets/images/prueba.svg.png" alt="logo" style="width: 30%;" />
        </div>
        <span  style="font-size: x-large;">Restablecer Contraseña</span>
      </div> 
      <div class="row my-2">
          <div class="col-12">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"  class="form-horizontal " >  
                  <div class="input-group">
                      <input 
                        [type]="passwordVisible ? 'text' : 'password'"
                        id="newPassword"
                        formControlName="newPassword"
                        class="form-control"
                        placeholder="Ingrese su nueva contraseña"
                      />
                      <span class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                        <i class="mdi" [ngClass]="passwordVisible ? 'mdi-eye-off' : 'mdi-eye'" style="font-size: large;"></i>
                      </span>
                  </div>
                  <div class="my-2" style="font-weight: 600;">
                    <span>
                      La contraseña debe tener al menos:
                    </span>
                  </div>
                  <div class="d-flex flex-column align-items-strat gap-3">
                    <div class="form-check form-check-inline">
                      <i class="me-2 mdi "
                      [ngClass]="{'mdi-check-circle-outline': resetPasswordForm.get('newPassword')?.errors?.['numero'] ,
                        'mdi-check-circle text-success': !resetPasswordForm.get('newPassword')?.errors?.['numero']
                      }"
                      ></i>
                      <label class="form-check-label" for="inlineCheckbox1">1 Numero</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <i  class="me-2 mdi "
                      [ngClass]="{'mdi-check-circle-outline': resetPasswordForm.get('newPassword')?.errors?.['minuscula'] ,
                        'mdi-check-circle text-success': !resetPasswordForm.get('newPassword')?.errors?.['minuscula']
                      }"
                      ></i>
                      <label class="form-check-label" for="inlineCheckbox1">1 letra minuscula</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <i class="me-2 mdi "
                      [ngClass]="{'mdi-check-circle-outline': resetPasswordForm.get('newPassword')?.errors?.['mayuscula'] ,
                        'mdi-check-circle text-success': !resetPasswordForm.get('newPassword')?.errors?.['mayuscula']
                      }"
                      ></i>
                      <label class="form-check-label" for="inlineCheckbox1">1 letra mayuscula</label>
                    </div> 

                    <div class="form-check form-check-inline">
                      <i class="me-2 mdi "
                      [ngClass]="{'mdi-check-circle-outline': resetPasswordForm.get('newPassword')?.errors?.['digitos'] ,
                        'mdi-check-circle text-success': !resetPasswordForm.get('newPassword')?.errors?.['digitos']
                      }"
                      ></i>
                      <label class="form-check-label" for="inlineCheckbox1">8 Caracteres</label>
                    </div>
                  </div> 
                  <div class="form-group text-center mt-3">
                      <div class="col-xs-12">
                          <button class="btn d-block w-100 btn-lg btn-primary" [disabled]="resetPasswordForm.get('newPassword')?.errors" >Restablecer Contraseña</button> 
                      </div>
                  </div> 
              </form>
          </div>
      </div>
    </div> 
  </div>
  <div *ngIf="verReloj" class="countdown-timer reloj" [ngClass]="{'alerta': alerta}">
    <span class="timer-numbers">{{ minutos }} : {{ segundos }}</span>
  </div>
</div>