<div class="row">
  <!-- ==================================-->
  <!-- ======= Basic demo ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Basic demo</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">
          This is basic demo for rating {{ currentRate }}
        </h6>
        <ngb-rating [(rate)]="currentRate" class="fs-7"></ngb-rating>

        <div class="mt-2">
          Rate: <b>{{ currentRate }}</b>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Custom star template ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom star template</h4>
      </div>
      <div class="card-body border-top">
        <ngb-rating [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = 0"
          [readonly]="readonly"></ngb-rating>
        <div class="bg-light p-3 rounded my-3">
          Selected: <b>{{ selected }}</b> Hovered: <b>{{ hovered }}</b>
        </div>
        <button class="btn bg-{{ readonly ? 'danger' : 'primary' }}-subtle text-{{ readonly ? 'danger' : 'primary' }}"
          (click)="readonly = !readonly">
          {{ readonly ? "readonly" : "editable" }}
        </button>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Events and readonly ratings ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Events and readonly ratings</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle mb-3">This is demo for readonly ratings</h6>
        <ngb-rating class="fs-7" [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = 0"
          [readonly]="readonly"></ngb-rating>
        <div class="mt-2">
          Selected: <b>{{ selected }}</b><br />Hovered: <b>{{ hovered }}</b>
        </div>
        <button class="btn mt-2 bg-{{
            readonly ? 'danger' : 'success'
          }}-subtle text-{{ readonly ? 'danger' : 'success' }} " (click)="readonly = !readonly">
          {{ readonly ? "readonly" : "editable" }}
        </button>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Custom decimal rating ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Custom decimal rating</h4>
      </div>
      <div class="card-body border-top">
        <ng-template #t let-fill="fill">
          @if(fill === 100) {
          <span class="heart full">&hearts;</span>
          }

          @if(fill === 0) {
          <span class="heart">&hearts;</span>
          }

          @if(fill < 100 && fill> 0) {
            <span class="heart">
              <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
            }

        </ng-template>

        <ngb-rating [(rate)]="decimalcurrentRate" [starTemplate]="t" [readonly]="true" [max]="5"
          [ariaValueText]="ariaValueText"></ngb-rating>

        <hr />
        <pre>Rate: <b>{{decimalcurrentRate}}</b></pre>
        <button class="btn bg-primary-subtle text-primary me-2" (click)="decimalcurrentRate = 1.35">
          1.35
        </button>
        <button class="btn bg-primary-subtle text-primary me-2" (click)="decimalcurrentRate = 4.72">
          4.72
        </button>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======  Form integration ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Form integration</h4>
      </div>
      <div class="card-body border-top">
        <div class="mb-3">
          <ngb-rating [formControl]="ctrl" class="fs-7"></ngb-rating>
          <div class="form-text small">
            @if(ctrl.valid) {
            <div class="text-success">Thanks!</div>
            }
            @if(ctrl.invalid) {
            <div class="text-danger">Please rate us</div>
            }


          </div>
        </div>

        <hr />
        <pre>Model: <b>{{ ctrl.value }}</b></pre>
        <button class="btn bg-{{
            ctrl.disabled ? 'danger' : 'success'
          }}-subtle text-{{
            ctrl.disabled ? 'danger' : 'success'
          }}  me-2" (click)="toggle()">
          {{ ctrl.disabled ? "Control disabled" : " Control enabled" }}
        </button>
        <button class="btn btn-danger me-2" (click)="ctrl.setValue(null)">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>