<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <div class="text-end">
                    <h2 class="fw-light  fw-normal mb-0">
                        <i class="ti-arrow-up text-success"></i> $120</h2>
                    <span class="text-muted">Todays Income</span>
                </div>
                <span class="text-success">80%</span>
                <ngb-progressbar [showValue]="false" type="success" [value]="80"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Weekly Sales</h4>
                <div class="text-end">
                    <h2 class="fw-light  fw-normal mb-0">
                        <i class="ti-arrow-up text-info"></i> $5,000</h2>
                    <span class="text-muted">Todays Income</span>
                </div>
                <span class="text-info">30%</span>
                <ngb-progressbar [showValue]="false" type="info" [value]="30"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Monthly Sales</h4>
                <div class="text-end">
                    <h2 class="fw-light  fw-normal mb-0">
                        <i class="ti-arrow-up text-primary"></i> $8,000</h2>
                    <span class="text-muted">Todays Income</span>
                </div>
                <span class="text-primary">60%</span>
                <ngb-progressbar [showValue]="false" type="primary" [value]="60"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yearly Sales</h4>
                <div class="text-end">
                    <h2 class="fw-light  fw-normal mb-0">
                        <i class="ti-arrow-down text-danger"></i> $12,000</h2>
                    <span class="text-muted">Todays Income</span>
                </div>
                <span class="text-danger">80%</span>
                <ngb-progressbar [showValue]="false" type="danger" [value]="80"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>