<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="justify-content-center brand-logo d-none d-lg-flex align-items-center">
    <a class="navbar-brand" href="/">
        <!-- Logo text -->
        @if(themeOptions.theme === 'dark') {
        <!-- Light Logo text -->
        <img src="assets/images/logos/light-logo.svg" alt="homepage" />
        } @else {
        <!-- dark Logo text -->
        <img src="assets/images/logos/dark-logo.svg" alt="homepage" />
        }
    </a>
    
</div>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="mt-2">
            <div class="user-profile mb-1">
                <!-- User profile image -->
                <div class="profile-img">
                    <img src="assets/images/users/user1.jpg" alt="user" />
                </div>
                <!-- User profile text-->
                <div class="profile-text" ngbDropdown display="static">
                    <a href="javascript: void(0);" class="dropdown-toggle link u-dropdown" ngbDropdownToggle>{{ userData.nombre }}
                        <!-- <span class="caret"></span> -->
                    </a>
                    <!-- <div class="dropdown-menu" ngbDropdownMenu>
                        <a href="javascript: void(0);" class="dropdown-item d-flex align-items-center gap-1">
                           <i-feather name="user" class="feather-sm d-flex text-primary"></i-feather> My Profile</a>
                        <a href="javascript: void(0);" class="dropdown-item d-flex align-items-center gap-1">
                            <i-feather name="dollar-sign" class="feather-sm d-flex text-primary"></i-feather>  My Balance</a>
                        <a href="javascript: void(0);" class="dropdown-item d-flex align-items-center gap-1">
                            <i-feather name="inbox" class="feather-sm d-flex text-primary"></i-feather> Inbox</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript: void(0);" class="dropdown-item d-flex align-items-center gap-1">
                            <i-feather name="settings" class="feather-sm d-flex text-primary"></i-feather> Account Setting</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript: void(0);" class="dropdown-item d-flex align-items-center gap-1">
                            <i-feather name="log-out" class="feather-sm d-flex text-primary"></i-feather> Logout</a>
                            <div class="dropdown-divider"></div>
                            <div href="javascript: void(0);" class="dropdown-item">
                                <a href="" class="btn btn-primary w-100">View Profile</a>
                            </div>
                    </div> -->
                </div>
            </div>
        </li>
        <!-- First level menu -->
        @for(sidebarnavItem of sidebarnavItems; track sidebarnavItem) {
        <li class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title"
            (click)="sidebarnavItem.submenu.length != 0 ? '' : handleNotify()"
            [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            @if(sidebarnavItem.extralink === true) {
            <div class="nav-small-cap"><i [ngClass]="[sidebarnavItem.icon]"></i><span
                    class="hide-menu">{{sidebarnavItem.title |
                    translate}}</span></div>
            }

            @if(!sidebarnavItem.extralink) {
            <a class="sidebar-link"
                [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" (click)="addExpandClass(sidebarnavItem.title)"
                [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
                <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
                <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
            </a>
            }

            <!-- Second level menu -->
            @if(sidebarnavItem.submenu.length > 0) {
            <ul aria-expanded="false" class="collapse first-level"
                [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
                @for(sidebarnavSubItem of sidebarnavItem.submenu; track sidebarnavSubItem) {
                <li class="sidebar-item" (click)="sidebarnavSubItem.submenu.length != 0 ? '' : handleNotify()"
                    [class.active]="showSubMenu === sidebarnavSubItem.title"
                    [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'">
                    @if(!sidebarnavSubItem.extralink) {
                    <a class="sidebar-link"
                        [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]"
                        [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'"
                        [ngClass]="[sidebarnavSubItem.class]" (click)="addActiveClass(sidebarnavSubItem.title)">
                        <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                        <span class="hide-menu">{{sidebarnavSubItem.title | translate}}</span>
                    </a>
                    }

                    <!-- Third level menu -->
                    @if(sidebarnavSubItem.submenu.length > 0) {
                    <ul aria-expanded="false" class="collapse Second-level"
                        [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                        @for(sidebarnavSubsubItem of sidebarnavSubItem.submenu; track sidebarnavSubsubItem) {
                        <li class="sidebar-item" routerLinkActive="active" [ngClass]="[sidebarnavSubsubItem.class]">
                            @if(!sidebarnavSubsubItem.extralink) {
                            <a class="sidebar-link" [routerLink]="[sidebarnavSubsubItem.path]"
                                [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'">
                                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                                <span class="hide-menu">{{sidebarnavSubsubItem.title | translate}}</span>
                            </a>
                            }

                        </li>
                        }

                    </ul>
                    }

                </li>
                }

            </ul>
            }

        </li>
        }

    </ul>
</nav>