// --------------------------------------------------
// Css Variables with class
// --------------------------------------------------

.card {
    --bs-card-title-color: rgba(255, 255, 255, 0.85);
    --bs-card-subtitle-color: rgba(255, 255, 255, 0.6);
    --bs-card-bg: #1a2537;
    --bs-card-box-shadow: none;
}

.table-primary {
    --bs-table-bg: #282459 !important;
  }
  
  .table-success {
    --bs-table-bg: #283b2f !important;
  }
  
  .table-info {
    --bs-table-bg: #3f7381 !important;
  }
  
  .table-warning {
    --bs-table-bg: #56513c !important;
  }
  
  .table-danger {
    --bs-table-bg: #74535d !important;
  }

a,
a.link,
.nav-link:hover,
.nav-link:focus,
.sidebar-nav ul .sidebar-item .sidebar-link,
.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link,
.sidebar-nav ul .sidebar-item .sidebar-link i {
    color: rgba(var(--bs-link-color-rgb), 0.85);
}

.link-dark,
.blockquote-footer {
    color: rgba(var(--bs-link-color-rgb), 0.85) !important;
}

.table {
    --bs-table-border-color: #313e54;
    --bs-table-bg: #1a2537;
}

.dropdown-menu {
    --bs-dropdown-bg: #1a2537;
    --bs-dropdown-link-color: rgba(var(--bs-link-color-rgb), 0.85);
    --bs-dropdown-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.table-hover>tbody>tr:hover>* {
    --bs-table-bg-state: #1a2537;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: #2a3851;
}

.accordion-item,
.accordion-item:focus {
    --bs-accordion-btn-color: #eaeff4;
    --bs-accordion-border-color: #333f55;
}

// --------------------------------------------------
// Font Colors
// --------------------------------------------------

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.accordion-button:not(.collapsed) {
    color: rgba(255, 255, 255, 0.85);
}

.tooltip-inner,
.text-dark,
.form-label,
.col-form-label,
.table> :not(caption)>*>* {
    color: $body-color-dark !important;
}

.nav-tabs .nav-link,
.nav-pills .nav-link,
.breadcrumb-item+.breadcrumb-item::before {
    color: $link-color-dark;
}

.text-bg-light,
.bg-light,
.striped-rows .row:nth-child(odd),
.bg-hover-light-black:hover,
.list-group-item-action:hover,
.list-group-item-action:focus {
    color: var(--bs-card-title-color) !important;
}

.modal-content{
    box-shadow: none;
}

// --------------------------------------------------
// Background Colors
// --------------------------------------------------

.body-wrapper,
.page-wrapper,
#main-wrapper {
    background: $dark-bg-variant !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.form-control:disabled,
.bg-white {
    background-color: $dark-bg-variant !important;
}

.left-part, .right-part{
    background-color: $body-bg-dark !important;
}

.taskboard .taskboard-task,
.notes-item.selected,
.contact-list .contact-item.active,
.tasklist .task-item.active{
    background-color: $dark-bg-variant !important;
}

.wizard-navbar li .round-tabs{
    background-color: $dark-bg-variant;
}

.ng-select .ng-select-container {
    background-color: $dark-bg-variant;
    border: 1px solid $border-color-dark;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    background-color: $dark-bg-variant;
    color: $white;
}

.ng-select .ng-select-container{
    color: $white;
}

.flatpickr-calendar{
    background: #1a2537;
    box-shadow: none;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: $border-color-dark;
}

.flatpickr-months .flatpickr-prev-month, 
.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-month,
.flatpickr-weekdaycontainer span.flatpickr-weekday,
.flatpickr-time input{
    color: $body-color-dark;
    fill: $body-color-dark;
}

.flatpickr-day.inRange, 
.flatpickr-day.prevMonthDay.inRange, 
.flatpickr-day.nextMonthDay.inRange, 
.flatpickr-day.today.inRange, 
.flatpickr-day.prevMonthDay.today.inRange, 
.flatpickr-day.nextMonthDay.today.inRange, 
.flatpickr-day:hover, 
.flatpickr-day.prevMonthDay:hover, 
.flatpickr-day.nextMonthDay:hover, 
.flatpickr-day:focus, 
.flatpickr-day.prevMonthDay:focus, 
.flatpickr-day.nextMonthDay:focus,
.flatpickr-time input:hover, 
.flatpickr-time .flatpickr-am-pm:hover, 
.flatpickr-time input:focus, 
.flatpickr-time .flatpickr-am-pm:focus{
    background: #1a2537;
    border-color: $border-color-dark;
}

.flatpickr-calendar.hasTime .flatpickr-time{
    border-top: 1px solid $border-color-dark;
}

.NgxEditor__MenuBar,
.NgxEditor,
.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu,
.ngx-datatable.material .datatable-header .datatable-header-cell,
.ngx-datatable.material .datatable-header .datatable-row-left,
.ngx-datatable.material .datatable-body .datatable-row-left,
.auth-wrapper .auth-box,
.cal-month-view,
.cal-month-view .cal-cell-row:hover {
    background-color: #1a2537;
}

.cal-month-view .cal-days,
.cal-month-view .cal-days .cal-cell-row,
.cal-month-view .cal-day-cell:not(:last-child) {
    border-color: $border-color-dark;
}

.cal-month-view .cal-open-day-events{
    background-color: $dark-bg-variant;
    box-shadow: none;
}

.cal-week-view{
    background-color: #1a2537;
    border-top: solid 1px $border-color-dark;
}

.cal-week-view .cal-time-events,
.cal-week-view .cal-all-day-events,
.cal-week-view .cal-day-column,
.cal-week-view .cal-day-headers,
.cal-week-view .cal-day-headers .cal-header:not(:last-child),
.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment, 
.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment{
    border-color: $border-color-dark;
}

.cal-week-view .cal-hour-odd{
    background-color: #1a2537;
}

.cal-week-view .cal-header.cal-today,
.cal-month-view .cal-cell.cal-has-events.cal-open{
    background-color: var(--bs-primary-bg-subtle);
}

.cal-week-view .cal-day-headers .cal-header:hover,
.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover{
    background-color: $dark-bg-variant;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Open,
.NgxEditor__MenuItem:hover,
.NgxEditor__Dropdown:hover,
.NgxEditor__MenuItem .NgxEditor__MenuItem--Icon:hover,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Item:hover {
    color: $white;
    background-color: $primary;
}

.NgxEditor,
.ngx-datatable.material .datatable-header .datatable-header-cell,
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell,
.ngx-datatable.material .datatable-footer .datatable-pager a,
.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a {
    color: $body-color-dark;
}

.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a {
    color: rgb(255 255 255 / 0.26) !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager a:hover {
    color: rgb(255 255 255 / 0.75);
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group,
.cal-month-view .cal-cell-row .cal-cell:hover{
    background-color: #1a2537;
}

.ngx-datatable.material .datatable-header .resize-handle {
    border-right: solid 1px $border-color-dark;
}

.ngx-datatable.material .datatable-header {
    border-bottom: 1px solid $border-color-dark;
}

.ngx-datatable.material .datatable-footer {
    border-top: 1px solid $border-color-dark;
    color: $body-color-dark;
}

.ngx-datatable.material {
    background: $dark-bg-variant;
}

.left-part,
.ng-dropdown-panel.ng-select-bottom{
    border-color: $border-color-dark;
}

.text-bg-light,
.bg-light,
.striped-rows .row:nth-child(odd),
.bg-hover-light-black:hover,
.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: $dark-bg-variant !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $dark-bg-subtle-dark;
}

// --------------------------------------------------
// Border Colors
// --------------------------------------------------
.border-white {
    border-color: $border-color-dark !important;
}

.form-check-input {
    border: 1px solid #57647a;
}

.timeline > .timeline-item > .timeline-panel:after,
.timeline > .timeline-item > .timeline-panel:before{
    border-right: 0 solid $border-color-dark;
    border-left: 7px solid $border-color-dark;
}

// ----------------------------------
// form components
// ----------------------------------

.form-select,
.form-select:focus,
.form-control,
.form-control:focus {
    border-color: $border-color-dark;
    color: $body-color-dark;
    background-color: $body-bg-dark;
}

textarea::placeholder,
input::placeholder,
.nav-small-cap {
    color: $body-color-dark;
}

.form-control:focus {
    border-color: var(--bs-primary) !important;
}

input::file-selector-button {
    background-color: $body-bg-dark;
    color: $body-color-dark;
}

.input-group-text {
    background-color: $light-bg-subtle-dark;
    border: var(--bs-table-border-color);
    color: $body-color-dark;
}