<div class="row el-element-overlay">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-dark btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-success btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-dark btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-info btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-success btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-info btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-warning btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-secondary btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-dark btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-danger btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-success btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item position-relative pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay overflow-hidden w-100 h-100">
                        <ul class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
                            <li class="el-item d-inline-block">
                                <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="ms-3">
                        <h4 class="mb-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ms-auto pe-3">
                        <button type="button" class="btn btn-dark btn-circle rounded-circle d-flex justify-content-center">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>